$color-white: #ffffff;
$color-grey: #7a7a7a;
$color-gold: #d69e4c;

.menu {
  .gridPizzaMenu {
    height: 840px;
    background-image: url('~assets/img/bg_4.jpg');
    background-size: cover;
  }

  .titlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titlePage h3 {
    margin: 80px 0 30px 0;
    color: $color-white;
    font-size: 40px;
  }

  .titlePage p {
    margin: 0;
    text-align: center;
    width: 640px;
    color: $color-grey;
    font-size: 20px;
  }

  .pizzaName {
    display: grid;
    grid-template-columns: repeat(6, 315px);
    grid-template-rows: 270px 270px;
    margin: 80px 0 0 3px;
  }

  .pizzaPhoto, .pizzaDescription {
    margin: 0;
    width: 315px;
    height: 270px;
  }

  .pizzaDescription {
    background: rgb(0, 0, 0, 0.3);
    margin: 0;
  }

  .pizzaDescription h4 {
    margin-left: 25px;
    font-size: 25px;
    color: $color-white;
  }

  .pizzaDescription p {
    margin-left: 25px;
    font-size: 17px;
    color: $color-grey;
  }

  .price {
    display: flex;
    align-items: center;
    width: 70px;
  }

  .price p {
    width: 50px;
    color: $color-gold;
  }

  .price button {
    height: 30px;
    padding: 0 15px;
    border: 1px solid white;
    background: none;
    margin-left: 15px;
  }

  .price a{
    text-decoration: none;
    color: $color-white;
  }
}