.head-services {
  display: flex;
  justify-content: center;
  .contact-services {
    display: flex;
    background-color: #000000;
    width: 1230px;
    justify-content: center;
    padding-top: 38px;
    .phone-services {
      background-image: url("~/public/img/icons-phone.png");
      background-repeat: no-repeat;
      padding-left: 30px;
      padding-right: 10px;
      background-size: 20px 20px;
      width: 235px;
    }
    .locate-services {
      background-image: url("~/public/img/icons-compas.png");
      background-repeat: no-repeat;
      padding-left: 30px;
      padding-right: 40px;
      background-size: 20px 20px;
    }
    .open-services {
      background-image: url("~/public/img/icons-whatch.png");
      background-repeat: no-repeat;
      padding-left: 30px;
      background-size: 20px 20px;
    }
    .link-services {
      color: #fefefe;
      text-decoration: none;
    }
    .text-service {
      color: #5c5c5c;
    }
  }
  .social-services {
    width: 670px;
    background-color: #fac564;
    display: flex;
    align-items: center;
    .twitter-services {
      background-image: url("~/public/img/icons8-twitter-24.png");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      padding: 20px 10px;
      margin-top: 20px;
      margin-left: 70px;
    }
    .facebook-services {
      background-image: url("~/public/img/icons8-facebook-f-48.png");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      padding: 20px 10px;
      margin-top: 20px;
      margin-left: 20px;
    }
    .instagram-services {
      background-image: url("~/public/img/icons8-instagram-24.png");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      padding: 20px 10px;
      margin-top: 20px;
      margin-left: 20px;
    }
  }
}
.main-services {
  display: flex;
  height: 470px;
  .img-about-services-1 {
    width: 946px;
    height: 470px;
  }
  .about-services {
    background-image: url("~/public/img/bg_4.jpg");
    background-repeat: no-repeat;
    width: 55%;
    max-height: 470px;
    .caption-h3{
      font-size: 34px;
      font-weight: 200;
      margin: 0;
      padding: 100px 0 0 95px;
      color: #ffffff;
      text-transform: uppercase;
      span {
        color: #fac564;
      }
    }
    .title {
      line-height: 30px;
      margin: 0;
      padding: 48px 100px 0 95px;
      color: #5c5c5c;
    }
  }
}
.footer-services {
  display: flex;
  background-image: url("~/public/img/food.png");
  width: 1900px;
  height: 816px;
}