<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,1,-25"/>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
<div class="container">
  <div class="firstPageSlider">1 firstPage</div>
  <div class="services">
    <div class="head-services">
      <div class="contact-services">
        <div class="phone-services">
          <a class="link-services" href="tel:+0001234567890">000 (123) 456 7890</a>
          <p class="text-service">
            A small river named Duden flows
          </p>
        </div>
        <div class="locate-services">
          <a class="link-services" href="#">198 West 21th Street</a>
          <p class="text-service">
            Suite 721 New York NY 10016
          </p>
        </div>
        <div class="open-services">
          <a class="link-services" href="#">Open Monday-Friday</a>
          <p class="text-service">
            8:00am - 9:00pm
          </p>
        </div>
      </div>
      <div class="social-services">
        <div class="twitter-services">
          <a href="#"></a>
        </div>
        <div class="facebook-services">
          <a href="#" ></a>
        </div>
        <div class="instagram-services">
          <a href="#"></a>
        </div>
      </div>
    </div>
    <div class="main-services">
      <div class="img-about-services">
        <img class="img-about-services-1" src="assets/img/about.jpg" alt="pic-about">
      </div>
      <div class="about-services">
        <h3 class="caption-h3">
          welcome to <span>PIZZA&nbsp;</span> a restaurant
        </h3>
        <p class="title">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem consequatur, enim expedita fuga fugiat ipsa iusto mollitia necessitatibus non quas quis quod quos reiciendis sequi soluta totam ullam vero.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem consequatur, enim expedita fuga fugiat ipsa iusto mollitia necessitatibus non quas quis quod quos reiciendis sequi soluta totam ullam vero.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem consequatur, enim expedita fuga fugiat ipsa iusto mollitia necessitatibus non quas quis quod quos reiciendis sequi soluta totam ullam vero.
        </p>
      </div>
    </div>
    <div class="footer-services">
      <div class="our-services">
        <h3 class="our-services-h3">
          our services
        </h3>
        <p class="our-title">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.Accusantium autem consequatur, enim expedita fuga fugiat ipsa
        </p>
      </div>
      <div class="card-services">
        <div class="card-item">
          <div class="icon-our-1"></div>
          <h4 class="our-services-h4">
            healthy foods
          </h4>
          <p class="our-title">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.Accusantium autem consequatur, enim expedita fuga fugiat ipsa iusto mollitia
          </p>
        </div>
        <div class="card-item">
          <div class="icon-our-2"></div>
          <h4 class="our-services-h4">
            fastest delivery
          </h4>
          <p class="our-title">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.Accusantium autem consequatur, enim expedita fuga fugiat ipsa iusto mollitia
          </p>
        </div>
        <div class="card-item">
          <div class="icon-our-3"></div>
          <h4 class="our-services-h4">
            original recipes
          </h4>
          <p class="our-title">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.Accusantium autem consequatur, enim expedita fuga fugiat ipsa iusto mollitia
          </p>
        </div>
      </div>
    </div>


  </div>
  <div class="menu">3 menu</div>
  <div class="blog">4 blog</div>
  <div class="aboutContact">5 aboutContact</div>
</div>
  <body>
  <div class="container">
    <div class="firstPageSlider">1 firstPage</div>
    <div class="services">
      <div class="head-services">
        <div class="contact-services">
          <div class="phone-services">
            <a class="link-services" href="tel:+0001234567890">000 (123) 456 7890</a>
            <p class="text-service">
              A small river named Duden flows
            </p>
          </div>
          <div class="locate-services">
            <a class="link-services" href="#">198 West 21th Street</a>
            <p class="text-service">
              Suite 721 New York NY 10016
            </p>
          </div>
          <div class="open-services">
            <a class="link-services" href="#">Open Monday-Friday</a>
            <p class="text-service">
              8:00am - 9:00pm
            </p>
          </div>
        </div>
        <div class="social-services">
          <a href="#" class="twitter-services"></a>
          <a href="#" class="facebook-servise"></a>
          <a href="#" class="instagram-services"></a>
        </div>
      </div>
      <div class="main-services">
        <div class="img-about-services">
          <img class="img-about-services-1" src="assets/img/about.jpg" alt="pic-about">
        </div>
        <div class="about-services">
          <h3 class="caption-h3">
            welcome to <span>PIZZA&nbsp;</span> a restaurant
          </h3>
          <p class="title">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem consequatur, enim expedita fuga fugiat ipsa iusto mollitia necessitatibus non quas quis quod quos reiciendis sequi soluta totam ullam vero.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem consequatur, enim expedita fuga fugiat ipsa iusto mollitia necessitatibus non quas quis quod quos reiciendis sequi soluta totam ullam vero.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem consequatur, enim expedita fuga fugiat ipsa iusto mollitia necessitatibus non quas quis quod quos reiciendis sequi soluta totam ullam vero.
          </p>
        </div>
      </div>
    </div>
    <div class="menu">3 menu</div>
    <div class="blog">4 blog</div>
    <div class="aboutContact">5 aboutContact</div>
  </div>

  </body>
<body>
<div class="container">
  <div class="firstPageSlider"></div>
  <div class="services"></div>
  <div class="menu">
    <div class="gridPizzaMenu">
      <div class="titlePage">
        <h3>HOT PIZZA MEALS</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia
          and Consonantia, there live the blind texts</p>
      </div>
      <div class="pizzaNameGrid">
        <div class="pizzaPhoto">
          <img src="assets/img/pizza-1.jpg" width="315" height="270" alt="">
        </div>
        <div class="pizzaDescription">
          <h4>Italian Pizza</h4>
          <p>Far far away, behind the word mountains, far from the countries Vokalia
            and Consonantia</p>
          <div class="price">
            <p class="valuePrice">2.90</p>
            <button><a href="">Order</a></button>
          </div>
        </div>
        <div class="pizzaPhoto">
          <img src="assets/img/pizza-2.jpg" width="315" height="270" alt="">
        </div>
        <div class="pizzaDescription">
          <h4>Greek Pizza</h4>
          <p>Far far away, behind the word mountains, far from the countries Vokalia
            and Consonantia</p>
          <div class="price">
            <p class="valuePrice">2.90</p>
            <button><a href="">Order</a></button>
          </div>
        </div>
        <div class="pizzaPhoto">
          <img src="assets/img/pizza-3.jpg" width="315" height="270" alt="">
        </div>
        <div class="pizzaDescription">
          <h4>Caucasian Pizza</h4>
          <p>Far far away, behind the word mountains, far from the countries Vokalia
            and Consonantia</p>
          <div class="price">
            <p class="valuePrice">2.90</p>
            <button><a href="">Order</a></button>
          </div>
        </div>
        <div class="pizzaDescription">
          <h4>American Pizza</h4>
          <p>Far far away, behind the word mountains, far from the countries Vokalia
            and Consonantia</p>
          <div class="price">
            <p class="valuePrice">2.90</p>
            <button><a href="">Order</a></button>
          </div>
        </div>
        <div class="pizzaPhoto">
          <img src="assets/img/pizza-4.jpg" width="315" height="270" alt="">
        </div>
        <div class="pizzaDescription">
          <h4>Tomatoe Pie</h4>
          <p>Far far away, behind the word mountains, far from the countries Vokalia
            and Consonantia</p>
          <div class="price">
            <p class="valuePrice">2.90</p>
            <button><a href="">Order</a></button>
          </div>
        </div>
        <div class="pizzaPhoto">
          <img src="assets/img/pizza-5.jpg" width="315" height="270" alt="">
        </div>
        <div class="pizzaDescription">
          <h4>Margherita</h4>
          <p>Far far away, behind the word mountains, far from the countries Vokalia
            and Consonantia</p>
          <div class="price">
            <p class="valuePrice">2.90</p>
            <button><a href="">Order</a></button>
          </div>
        </div>
        <div class="pizzaPhoto">
          <img src="assets/img/pizza-6.jpg" width="315" height="270" alt="">
        </div>
      </div>
    </div>

    <div class="listPizzaMenu">
      <div class="titlePage">
        <h3>OUR MENU PRICING</h3>
        <img class="elem" src="assets/img/elem1.png" width="160" height="15" alt="">
        <p>Far far away, behind the word mountains, far from the countries Vokalia
          and Consonantia, there live the blind texts</p>
      </div>
      <div class="pizzaNameList">
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/pizza-1.jpg" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
              <h4>Italian Pizza</h4>
              <span>$20.00</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/pizza-5.jpg" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
              <h4>Hawaiian Special</h4>
              <span>$49.91</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/bg_1.png" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
              <h4>Hawaiian Pizza</h4>
              <span>$29.00</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/pizza-6.jpg" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
              <h4>Ultimate Overload</h4>
              <span>$20.00</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/pizza-2.jpg" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
              <h4>Greek Pizza</h4>
              <span>$20.00</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/pizza-7.jpg" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
              <h4>Bacon Pizza</h4>
              <span>$20.00</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/pizza-4.jpg" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
              <h4>Bacon Crispy Thins</h4>
              <span>$20.00</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/pizza-3.jpg" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
              <h4>Ham & Pineapple</h4>
              <span>$20.00</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>

      </div>
    </div>
    <div class="listPizzaMenu">
      <div class="titlePage">
        <h3>OUR MENU PRICING</h3>
        <img class="elem" src="assets/img/elem1.png" width="160" height="15" alt="">
        <p>Far far away, behind the word mountains, far from the countries Vokalia
          and Consonantia, there live the blind texts</p>
      </div>
      <div class="pizzaNameList">
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/pizza-1.jpg" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
            <h4>Italian Pizza</h4>
            <span>$20.00</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/pizza-5.jpg" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
              <h4>Hawaiian Special</h4>
              <span>$49.91</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/bg_1.png" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
              <h4>Hawaiian Pizza</h4>
              <span>$29.00</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/pizza-6.jpg" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
              <h4>Ultimate Overload</h4>
              <span>$20.00</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/pizza-2.jpg" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
              <h4>Greek Pizza</h4>
              <span>$20.00</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/pizza-7.jpg" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
              <h4>Bacon Pizza</h4>
              <span>$20.00</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/pizza-4.jpg" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
              <h4>Bacon Crispy Thins</h4>
              <span>$20.00</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>
        <div class="pizzaMenuItem">
          <div class="itemImage">
            <img src="assets/img/pizza-3.jpg" width="70" height="70" alt="">
          </div>
          <div class="itemDescription">
            <div class="itemName">
              <h4>Ham & Pineapple</h4>
              <span>$20.00</span>
            </div>
            <p>A small river named Duden flows by their place and supplies</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="blog">4 blog
    <div class="blogStart">
      <h1>recent from blog</h1>
      <p>Far for away,behind the word mountains,far from the countries Vokalia and Consonantia,there live the blind
        texts.</p>
      <div class="blogStartImg">
        <div>
          <img src="assets/img/image_1.jpg">
          <p>
            <time>Sept 10,2018</time>
            Admin <span class="material-symbols-outlined">chat</span> 3
          </p>
          <h4>The Delicious Pizza</h4>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
        <div>
          <img src="assets/img/image_2.jpg">
          <p>
            <time>Sept 10,2018</time>
            Admin <span class="material-symbols-outlined">chat</span> 3
          </p>
          <h4>The Delicious Pizza</h4>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
        <div>
          <img src="assets/img/image_3.jpg">
          <p>
            <time>Sept 10,2018</time>
            Admin <span class="material-symbols-outlined">chat</span> 3
          </p>
          <h4>The Delicious Pizza</h4>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
      </div>
    </div>
    <div class="blogEnd">
      <img src="assets/img/gallery-1.jpg">
      <img src="assets/img/gallery-2.jpg">
      <img src="assets/img/gallery-3.jpg">
      <img src="assets/img/gallery-4.jpg">

    </div>
    <div class="blogFinish">
      <img src="assets/img/bg_2.jpg">
      <div class="blogFinishYellow">
        <div>
          <img src="assets/icon/pizzasvg.svg">
          <p>100</p>
          <p>Pizza Branches</p>
        </div>
        <div>
          <img src="assets/icon/awards.svg">
          <p>85</p>
          <p>Number or Awards</p>
        </div>
        <div>
          <img src="assets/icon/customerhappy.svg">
          <p>10,567</p>
          <p>Happy Customers</p>
        </div>
        <div>
          <img src="assets/icon/cup.svg">
          <p>900</p>
          <p>Staff</p>
        </div>

      </div>
    </div>
  </div>
  <div class="aboutContact"></div>
  <div class="firstPageSlider">1 firstPage</div>
  <div class="services">2 services</div>
  <div class="menu">3 menu</div>
  <div class="blog">4 blog
    <div class="blogStart">
      <h1>recent from blog</h1>
      <p>Far for away,behind the word mountains,far from the countries Vokalia and Consonantia,there live the blind
        texts.</p>
      <div class="blogStartImg">
        <div>
          <img src="assets/img/image_1.jpg">
          <p>
            <time>Sept 10,2018</time>
            Admin <span class="material-symbols-outlined">chat</span> 3
          </p>
          <h4>The Delicious Pizza</h4>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
        <div>
          <img src="assets/img/image_2.jpg">
          <p>
            <time>Sept 10,2018</time>
            Admin <span class="material-symbols-outlined">chat</span> 3
          </p>
          <h4>The Delicious Pizza</h4>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
        <div>
          <img src="assets/img/image_3.jpg">
          <p>
            <time>Sept 10,2018</time>
            Admin <span class="material-symbols-outlined">chat</span> 3
          </p>
          <h4>The Delicious Pizza</h4>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
      </div>
    </div>
    <div class="blogEnd">
      <img src="assets/img/gallery-1.jpg">
      <img src="assets/img/gallery-2.jpg">
      <img src="assets/img/gallery-3.jpg">
      <img src="assets/img/gallery-4.jpg">

    </div>
    <div class="blogFinish">
      <img src="assets/img/bg_2.jpg">
      <div class="blogFinishYellow">
        <div>
          <img src="assets/icon/pizzasvg.svg">
          <p>100</p>
          <p>Pizza Branches</p>
        </div>
        <div>
          <img src="assets/icon/awards.svg">
          <p>85</p>
          <p>Number or Awards</p>
        </div>
        <div>
          <img src="assets/icon/customerhappy.svg">
          <p>10,567</p>
          <p>Happy Customers</p>
        </div>
        <div>
          <img src="assets/icon/cup.svg">
          <p>900</p>
          <p>Staff</p>
        </div>

      </div>
    </div>
  </div>
  <div class="aboutContact">5 aboutContact</div>
</div>

</body>
</html>
